.login-form {
    max-width: 540px;
    width: 50%;
    margin: 60px auto;
    padding: 30px;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
    background-color: white;
    border-radius: 10px;
}

.login-form label {
    display: block;
    margin: 30px auto;
}

.login-form span {
    display: block;
}

.login-form input {
    padding: 8px 2px;
    font-size: 1em;
    width: 100%;
}