.editReply {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.editReply {
    gap: 1em;
}

.editReply .editReplyButtons {
    flex-direction: row;
}

.editReply .saveButton {
    margin-left: 1em;
    margin-right: 1em;
}