.spanPost img {
    width: 5vw;
    background-color: #F2F2F2;
    border-radius: 50%;
}

.spanPost input {
    width: 75%;
    background-color: #F2F2F2;
    border-radius: 1em;
    text-indent: 1em;
}
