.spanPost img {
    width: 10%;
    background-color: #F2F2F2;
    border-radius: 50%;
}

.spanPost input {
    width: 75%;
    background-color: #F2F2F2;
    border-radius: 1em;
    text-indent: 1em;
}

.spanPost {
    white-space: nowrap;
    overflow-x: auto;
    display: flex;
    justify-content: space-evenly;
}
