.create-post {
    box-shadow: darkblue;
    overflow: auto;
}

.create-post author {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(184, 11, 252);
}
.create-post Button {
    border-radius: 1em;
    float: bottom;
    border-color: #fc1515;
    color: #f50e57;
}

.create-post button:hover {
    background-color: #0cec35;
}

.create-post input {
    width: 75%;
    background-color: #ef08ff;
    border-radius: 1em;
    text-indent: 1em;
}

.create-post .main-input {
    white-space: nowrap;
    overflow-x: auto;
    display: flex;
    justify-content: space-evenly;
}

.create-post .main-input , .create-post .main-input input {
    vertical-align: middle;
   
}