.create-post {
    max-width: 540px;
    width: 50%;
    margin: 60px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    overflow: auto;
}

.create-post img {
    width: 10%;
    background-color: #F2F2F2;
    border-radius: 50%; 
}

.create-post button {
    border-radius: 1em;
    float: right;
    border-color: #000080;
    color: #000080;
}

.create-post button:hover {
    background-color: #000080;
}

.create-post label {
    display: block;
    margin: 30px auto;
}

.create-post span {
    display: block;
}

.create-post input {
    padding: 8px 2px;
    font-size: 1em;
    width: 75%;
    background-color: #F2F2F2;
    border-radius: 1em;
    text-indent: 1em;
}

.create-post .main-input {
    white-space: nowrap;
    overflow-x: auto;
    display: flex;
    justify-content: space-evenly;
}

.create-post .main-input img, .create-post .main-input input {
    vertical-align: middle;
}